.vs/
AutoReservation.TestEnvironment/obj/project.assets.json
AutoReservation.TestEnvironment/obj/Debug/netstandard2.1/AutoReservation.TestEnvironment.csprojAssemblyReference.cache
AutoReservation.TestEnvironment/obj/Debug/netstandard2.1/AutoReservation.TestEnvironment.assets.cache
AutoReservation.TestEnvironment/obj/AutoReservation.TestEnvironment.csproj.nuget.dgspec.json
AutoReservation.TestEnvironment/obj/AutoReservation.TestEnvironment.csproj.nuget.cache
AutoReservation.Service.Grpc/obj/project.assets.json
AutoReservation.Service.Grpc/obj/Debug/netcoreapp3.0/AutoReservation.Service.Grpc.csprojAssemblyReference.cache
AutoReservation.Service.Grpc/obj/Debug/netcoreapp3.0/AutoReservation.Service.Grpc.assets.cache
AutoReservation.Service.Grpc/obj/AutoReservation.Service.Grpc.csproj.nuget.dgspec.json
AutoReservation.Service.Grpc/obj/AutoReservation.Service.Grpc.csproj.nuget.cache
AutoReservation.Service.Grpc.Testing/obj/project.assets.json
AutoReservation.Service.Grpc.Testing/obj/Debug/netcoreapp3.0/AutoReservation.Service.Grpc.Testing.csprojAssemblyReference.cache
AutoReservation.Service.Grpc.Testing/obj/Debug/netcoreapp3.0/AutoReservation.Service.Grpc.Testing.assets.cache
AutoReservation.Service.Grpc.Testing/obj/Debug/netcoreapp3.0/AutoReservation.Service.Grpc.Testing.AssemblyInfoInputs.cache
AutoReservation.Service.Grpc.Testing/obj/Debug/netcoreapp3.0/AutoReservation.Service.Grpc.Testing.AssemblyInfo.cs
AutoReservation.Service.Grpc.Testing/obj/AutoReservation.Service.Grpc.Testing.csproj.nuget.dgspec.json
AutoReservation.Service.Grpc.Testing/obj/AutoReservation.Service.Grpc.Testing.csproj.nuget.cache
AutoReservation.Service.Client/obj/project.assets.json
AutoReservation.Service.Client/obj/Debug/netstandard2.1/AutoReservation.Service.Client.csprojAssemblyReference.cache
AutoReservation.Service.Client/obj/Debug/netstandard2.1/AutoReservation.Service.Client.assets.cache
AutoReservation.Service.Client/obj/AutoReservation.Service.Client.csproj.nuget.dgspec.json
AutoReservation.Service.Client/obj/AutoReservation.Service.Client.csproj.nuget.cache
AutoReservation.Dal/obj/project.assets.json
AutoReservation.Dal/obj/Debug/netstandard2.1/AutoReservation.Dal.assets.cache
AutoReservation.Dal/obj/AutoReservation.Dal.csproj.nuget.dgspec.json
AutoReservation.Dal/obj/AutoReservation.Dal.csproj.nuget.cache
AutoReservation.BusinessLayer/obj/project.assets.json
AutoReservation.BusinessLayer/obj/Debug/netstandard2.1/AutoReservation.BusinessLayer.csprojAssemblyReference.cache
AutoReservation.BusinessLayer/obj/Debug/netstandard2.1/AutoReservation.BusinessLayer.assets.cache
AutoReservation.BusinessLayer/obj/AutoReservation.BusinessLayer.csproj.nuget.dgspec.json
AutoReservation.BusinessLayer/obj/AutoReservation.BusinessLayer.csproj.nuget.cache
AutoReservation.BusinessLayer.Testing/obj/project.assets.json
AutoReservation.BusinessLayer.Testing/obj/Debug/netcoreapp30/AutoReservation.BusinessLayer.Testing.csprojAssemblyReference.cache
AutoReservation.BusinessLayer.Testing/obj/Debug/netcoreapp30/AutoReservation.BusinessLayer.Testing.assets.cache
AutoReservation.BusinessLayer.Testing/obj/AutoReservation.BusinessLayer.Testing.csproj.nuget.dgspec.json
AutoReservation.BusinessLayer.Testing/obj/AutoReservation.BusinessLayer.Testing.csproj.nuget.cache
